---
layout: page
---

To be Announced!

<!-- use talk.position and talk.time -->
<!--
<h4>Monday, October 26th, 2015</h4>
<p>Location: Red</p>
<div>
    <div class="sumTime">08:30-10:10</div>
    <div>
        <div class="sumContent">Data Science and Visualization for Scientific Discovery</div>
        <div class="sumDetails">Invited Speakers: Torsten Möller, Jeff Heer, Rumi Chunara</div>
    </div>
</div>

<div>
    <div class="sumTime">10:30-12:00</div>
    <div>
        <div class="sumContent">Health and Spatio-Temporal Data</div>
        <div class="sumDetails">Panel Discussion, Paper Presentations</div>
    </div>
</div>

<div>
    <div class="sumTime">02:00-03:30</div>
    <div>
        <div class="sumContent"> Journalism, Sports, and Data Exploration</div>
        <div class="sumDetails">Invited Speakers: Rachel Schutt, Luke Bornn, Feifei Li</div>
    </div>
</div>

<div class="sumTime">04:00:-05:50</div>
<div>
    <div class="sumContent">Databases and Algorithms</div>
    <div class="sumDetails">Panel Discussion, Paper Presentations</div>
</div>

<div>
    <div class="sumTime">06:00:-07:30</div>
    <div class="sumContent">Poster Reception</div>
</div>
<br>
-->

<!--

<span class="time">Monday, October 24th, 2016</span>
<p>Location: TBD</p>

<h3>Session 1</h3>
<span class="time">8:30-10:10, Session Chair: Marc Streit </span>

<div class="talk">
    <div class="ttitle">Opening Address</div>
</div>

{% include invited_talk.html time="8:40-09:20" key="williams" %}

{% include paper.html time="9:20-09:45" key="2" %}
{% include paper.html time="9:45-10:10" key="7" %}



<br>
<h3>Session 2</h3>
<span class="time">10:30-12:10, Session Chair: Daniel Keim</span>

{% include invited_talk.html time="10:30-11:10" key="leek" %}

{% include paper.html time="11:10-11:40" key="6" %}
{% include paper.html time="11:40-12:10" key="3" %}

<br>
<h3>Session 3</h3>
<span class="time">2:00-3:40, Session Chair: Hanspeter Pfister</span>

<div class="talk">
    <div class="ttitle">PANEL: Teaching Data Science and Visualization: What works, what doesn't?</div>
    <div><span class="tspeaker">Jeff Leek, Patrick Lucey, Sarah Williams</span></div>
    <div>Moderator: Hanspeter Pfister</div>
</div>

{% include paper.html time="3:00-3:25" key="5" %}
{% include paper.html time="3:25-3:3:40" key="9" %}

<br>
<h3>Session 4</h3>
<span class="time">4:15-5:55, Session Chair: Alexander Lex</span>

{% include invited_talk.html time="4:15-4:55" key="lucey" %}


{% include paper.html time="4:55-5:10" key="4" %}
{% include paper.html time="5:10-5:25" key="8" %}
{% include paper.html time="5:25-5:45" key="1" %}

<div class="talk">
    <div class="ttitle">Closing</div>
</div>

-->